//
// Create new Employee Page style
// Mobile First CSS Method
// Created by Hiroko Y.
// Date: 2018-11-23
// --------------------------------------------------

.centered-main-content{
  float: none;
  margin: 0 auto;
}

.createBtn{
  width: 100%;
  padding: 7px 12px;
}